.Rproj.user
.Rhistory
.RData
.Ruserdata
Proyecto/ratings.csv
Proyecto/shiny_proyect/ratings.csv
genome-scores.csv
genome-tags.csv
movies.xlsm
Proyecto/genome-scores.csv
Proyecto/genome-tags.csv
Proyecto/movies.xlsm
Proyecto/shiny_proyect/genome-scores.csv
Proyecto/shiny_proyect/genome-tags.csv
Proyecto/shiny_proyect/movies.xlsm
Proyecto/~$movies.xlsm
ratings.csv
